@import url('reset.css');

/* ==============================規格============================== */
.font-org-light{ color: var(--color-org-light);}
.font-org{color: var(--color-org);}
.font-dark{color: var(--color-sub-dark);}
.font-sub-org{color: var(--color-sub-org);}
.font-sub-light{color: var(--color-sub-light);}
body{
  background-color: var(--color-sub-light);
  font-family: 'Merienda','LXGW WenKai Mono TC', 'Noto Sans TC',monospace, sans-serif;
  min-height: 100vh;
  position: relative;
}
h1{font-size: 60px;line-height: 1.2;text-align: center;font-weight: bold;}

h2{font-size: 32px;line-height: 1.2;font-weight: bold;}

h3{font-size: 28px;line-height: 1.2;}

h4{font-size: 24px;line-height: 1.6;}

h5{font-size: 20px;line-height: 1.6;}

span{font-size: 16px; line-height: 1.6;}

p{font-size: 16px;line-height: 1.6;}

a{
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-org-light);
  font-weight: bold;
}

i{display: block;font-size: 50px;line-height: 1.2;}


/* ==========================RWD========================== */
/* ====================== 斷點1650頭圖專用 ======================== */
@media screen and (max-width: 1650px){
  .banner-pic{
    height: 100%;
    width: auto;
    object-fit: cover;
  }
}
/* ====================== 斷點1200 ======================== */

@media screen and (max-width: 1200px){
  .wrapper { width: 95%;}

  /*====== 地 ======*/
  .landbar{
    position: relative;
  }
  .footinfo{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding: 2rem 5rem;
    column-gap: 0;
    align-items: end;
  }
  .footinfo li{
    height: 40px;
  }
  .footinfo li > h5{
    font-size: 20px;
  }
  .linkicon{
    position: absolute;
    z-index: 200;
    top: 45%;
    left: 8%;
    height: auto;
    margin-top: 1rem;
  }
  .linkicon i{
    color: var(--color-org-light);

  }

/*======首頁======*/
  .index-share{
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .index-share .instagram-media{
    max-width: 45% !important; 
  }

/*======雷斯故事======*/
  .build-intro-inner > img{
    width: 36%;
  }
  .west-intro{
    gap: 1.5rem;

  }
  .located-detail{
    flex-direction: column-reverse;
    align-content: center;
    gap: 2rem;
  }
  .address-detail img{
    transform: scale(0.6);
  }
  .googlemap-area,.tour-googlemap-area{
    width: 100%;
    height: 600px;
  }
  .googlemap-area > iframe,.tour-googlemap-area > iframe{
    width: 100%;
    height: 100%;
  }
/*======房型介紹======*/
 .room-info {
    gap: 2rem;
  }

  .roompic {
    width: 48%;
  }

  .room-detail {
    width: 48%;
  }
  .roompic-list{
    gap: 1rem;
    justify-content: space-evenly;
  }

/*======房間預定======*/

  .booking-detail{
    width: 50%;
  }
  select.label{
    width: 77%;
  }
  .booking-confirm{
    width: 40%;
  }
  .roompic-booking{
    display: none;
  }
  .info-detail > h4{
    width: 15%;
  }
  .guest-mail > p{
    width: 15%;
  }
  #pin-text input {
    width: 58%;
  }
  .guest-pin h5 {
    width: 70%;
    gap: 1rem;
  }
  .price-inner{
    width:60%;
    margin: 30px auto;
  }
  .payment-info input{
    width: 100%;
    padding-left: 1rem;
  }

/*======景點詳細======*/

  .news-detail-wrapper{
    display: flex;
    align-items: center;
    
  }
  .detail-inner{
    width: 40%;
  }
  .googlemap-area{
    height: 600px;
  }
}

/*====================== 斷點 992px ======================*/
@media screen and (max-width: 992px) {
  .wrapper{width: 90%;}
  h1{font-size: 32px;}
  h2{font-size: 24px;}
  h3{font-size: 20px;}
  h4{font-size: 18px;}
  h5{font-size: 16px;}
  span{font-size: 14px;}

/*======天、漢堡======*/
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 0;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background-color: var(--color-sub-light);
    padding: 5rem 0 1.5rem;
    z-index: 8;
    overflow: hidden;
    opacity: 0;
  }
  .navbar.active {
    width: 100%;
    opacity: 1;
  }
  .navbar.active li ~li{
    border-top: 1px solid var(--color-sub-dark);
  }
  .navbar.active li{
    width: 80%;
  }
  
  .sky-link {
    width: 110px;
    text-align: center;
    padding-bottom: 15px;
    margin: 1rem 0;
    justify-self: center;
  }
  .hamburger-btn {
    display: block;
    top: 20px;
  }
  .banner{
    height: 100vh;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .banner-nopic{
    height: 30vh;
  }
  .banner h1{
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  }
  .banner h2{
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  }

  .logo {
    width: 150px; 
  }
  .linkicon{
    flex-direction: column;
    top: 18%;
    height: 50%;
    flex-wrap: wrap;
  }

/*======首頁======*/
  .index{
    gap: 1rem;
  }
  .index-share{
    max-width: 700px;
    width: 90%;
    }
  
  .index-intro{
    grid: repeat(6,1fr) / repeat(6,1fr);
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    gap: 0.5rem;
    align-items: center;

  }

  .index-share .instagram-media{
    max-width: 30% !important; 
  }
  .index-intro .p1 > img{
    transform: translateX(-150px);
  }
/*======聲明頁======*/
  .manners-tag{
    font-size: 20px;
  }
/*======新聞頁======*/
  .news-title{
    width: 90%;
  }
  .news-flex{
    gap: 1rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
  }

/*======新聞頁細節======*/
  .news-detail{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .news-detail-wrapper{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: center;
  }
  .news-detail-wrapper > img{
    width: 75%;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-bottom: 20px;
  }
  .detail-inner{
    width: 60%;
    margin: 0 auto;
    padding: 0;
  }
  .detail-inner h5{
    text-align: right;
  }
/*======周邊景點======*/
  .tour-card{
    width: 40%;
    height: auto;
  }
  .tour-card img{
    width: 100%;
  }
  .tour-intro{
    flex-direction: column;
    gap: 2rem;
  }
  .tour-words{
    gap: 1rem;
  }

  .type-pic > h2{
    width: 12.5rem;
    height: 12.5rem;
  }
  .clickToDetail::after{
    opacity: 1;
  }
/*======房型介紹======*/
  

  .room-pic {
    gap: 15px;
    margin: 2rem auto;
  }

  .type-pic > h2 {
    height: 250px;
    width: 250px;
    line-height: 250px;
    font-size: 28px;
  }
  .price{
    justify-content: end;
  }

  .room-info {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .roompic {
    width: 80%;
    max-width: 600px;
  }
  .room-detail {
    width: 80%;
    max-width: 600px;
  }

  .serve-list {
    gap: 40px;
  }

/*======房間預定======*/
  .room-booking{
    gap: 2rem;
  }
  .room-booking h4{
    font-size: 16px;
  }
  .booking-detail > li{
    gap: .25rem;
    padding: 1rem 0;
    
  }
  .label,.date-label{
    border-bottom: 1px solid var(--color-sub-dark);
    border-radius: 0.25rem;
  }
  .date-td{
    box-sizing: border-box;
    padding-top: 4px;
  }
  .date-td ~ i{
    height: 2rem;
  }
  .date-label{
    height: 2rem;
    padding-top: 2px;
  }
/*======房間預定======*/
  .confirm > .room-booking{
    margin: 2rem 0;
    height: 300px;
  }
  .roompic-booking{
    display: none;
  }
  .info-detail{
    width: 80%;
    gap: 1rem;
    height: 40px;
    justify-content: end;
  }
  .info-detail > h4,.info-detail > h5,.info-detail > p{
    width: 15%;
    text-align: right;
    line-height: 40px;
  }
  .guest-pin input{
    width: 70%;
  }
  .guest-pin h5{
    display: block;
    width: 70%;
  }
  #pin-text{
    width: 80%;
  }
  p.warning{
    left: 13rem;
    top: 10.5rem;
  }
  .confirm-cutline{
    margin: 2rem 0;
  }
  .price-inner{
    padding: 0;
    width: 70%;
  }
  .btn-list{
    margin-bottom: 1rem;
  }
/*======付款頁面======*/
  .payment-method{
    flex-direction: column;
    gap: 2rem;
    width: 80%;
  }
  .payment-info input{
    padding-right: 0;
    width: 100%;
  }
  .payment-options h3{
    padding: 0;
  }
  .payment-options,.payment-info{
    width: 100%;
  }
  .payment-cut{
    width: 80%;
    margin: 3rem auto;
  }
  .policy-section{
    width: 80%;
  }
/*======預定完成======*/
  .result-list{
    gap: 15%;
  }
/*======訂單查詢======*/
  .check-info{
    gap: 2rem;
    padding: 0 2rem;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0;
  }
  .check-info > div{
    width: 65%;
    margin-top: 2rem;
    height: 2rem;
  }
  .check-info > button{
    margin-top: 1rem;
  }
  .date-info > input,.email-info > input{
    font-size: 18px;
  }
  .result-list{
    flex-direction: column;
    gap: 0.5rem;
  }
  .result-info{
    width: 70%;
    height: auto;
    gap: 1em;
  }
  .googlemap-area,.tour-googlemap-area{
    height: 600px;
  }
  .tour-words{
    width: 80%;
  }
}




 

/* ==============================768px 斷點（平板直向）============================== */
@media (max-width: 768px) {
  .wrapper {
    padding: 0 0;
  }
  .logo-link .logo{
    content: url(../img/logo-s.png);
    width: 80px;
    top: 22px;
  }
  .banner {
    height: 100vh;
    margin-bottom: 40px;
    
  }
  .banner-pic{
    width: 100%;
    object-fit: cover;
  }
  .index-midbanner{
    width: 100%;
  }
  .index-wrapper{
    height: 100vh;
  }
  .banner h1 {
    font-size: 48px;
  }

  .banner h2 {
    font-size: 24px;
  }
  .index-intro{
    height: 60vh;
  }
  .index-intro .p1 > img{
    transform: translateX(-100px);
  }
  .tag-1,.tag-2,.tag-3{
    width: 25%;
    font-size: 20px;
  }
  .banner-nopic{
    height: 20vh;
    margin-bottom: 2rem;
  }
  .linkicon{
    top: 0;
    left: 3%;
    gap: 0.5rem;
  }
  .linkicon a{
    height: 45px;
  }
  .linkicon i{
    font-size: 36px;
    line-height: 45px;
  }
  .linkicon img{
    transform: scale(0.9);
  }
  .footinfo{
    gap: 0.5rem;
    padding-right: 1rem;
  }
  .footinfo li h5,.footinfo li a{
    font-size: 16px;
  }
  .copyRight{
    position: absolute;
    bottom: 0;left: 0;right: 0;
    text-align: center;
  }
  .room-pic {
    display: none;}

  .room-info {
    flex-direction: column;
    gap: 2rem;
  }

  .roompic {
    width: 100%;
    max-width: 100%;
  }

  .roompic-list {
    gap: 10px;
    justify-content: center;
  }
  .room-detail {
    width: 100%;
    max-width: 100%;
    gap: 1.5rem;
  }

  .room-title h2 {
    font-size: 28px;
    text-align: center;
  }

  .room-title span {
    display: block;
    margin-left: 0;
    margin-top: 8px;
  }

  .serve-list {
    gap: 30px;
    justify-content: space-between;
  }

  .serve-list > ul {
    flex: 1;
    min-width: 120px;
  }

  .price {
    justify-content: space-between;
  }

  .price-org {
    font-size: 18px;
  }

  .price-new {
    font-size: 28px;
  }

  button {
    width: 140px;
    height: 2.25rem;
    font-size: 20px;
  }
  .booking-detail{
    width: 80%;
  }
  .build-intro-inner{
    flex-direction: column;
    padding: 0;
    gap: 1.25rem;
  }
  .build-intro-inner.reverse{
    flex-direction: column-reverse;
  }
  .build-intro-inner img{
    width: 80%;
  }
  .build-intro-inner h2{
    text-align: center;

  }
  .build-intro-word-left,.build-intro-word{
    width: 80%;
  }
  .googlemap-area,.tour-googlemap-area{
    height: 500px;
  }
  .west-intro{
    flex-direction: column;
  }
  .west-intro img,.west-intro-word{
    width: 80%;
  }
  .tour-intro img{
    width: 90%;
    height: auto;
  }
  .rules-manner h4,.rules-privacy h5,.rules-price h5{
    font-size: 20px;
  }
  .rules-privacy h5{
    padding-left: 0;
  }
  .tour-words{
    width: 100%;
  }
}
/* ==============================640px 斷點============================== */
@media (max-width: 640px) {
  .news-flex{
    flex-direction: column;
    align-items: center;
  }
}
/* ============================== 斷點 576px  ============================== */
@media (max-width: 576px) {
  .banner {
    height: 100vh;
    margin-bottom: 30px;
  }

  .banner h1 {
    font-size: 36px;
  }

  .banner h2 {
    font-size: 18px;
    padding: 0 1rem;
  }
  .tag-1,.tag-2,.tag-3{
    font-size: 16px;
  }
  .room-pic {
    gap: 15px;
  }

  .type-pic > h2 {
    height: 250px;
    line-height: 250px;
    font-size: 28px;
  }

  .room-pic1,
  .room-pic2,
  .room-pic3 {
    height: 250px;
  }

  .roompic-list {
    gap: 8px;
    flex-wrap: wrap;
    
  }

  .roompic-list > li {
    width: calc(50% - 4px);
    height: auto;
  }


  .serve-list {
    justify-content: center;
    gap: 0;
    width: auto;

  }
  .serve-list > ul {
    flex: 1;
    width: 80px;
    min-width: unset;
  }
  .serve-list i {
    font-size: 18px;
  }

  .serve-list span {
    font-size: 14px;
  }

  .price {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .price-org {
    font-size: 16px;
    width: 45%;
    text-align: right;
    padding-right: 1rem;
    box-sizing: border-box;
  }

  .price-new {
    font-size: 24px;
    width: 45%;
  }

  button {
    height: 2.5rem;
    font-size: 16px;
    width: 120px;
  }
/* ===== 預約確認 ===== */
    .confirm > .room-booking,.book-payment > .room-booking{
    flex-direction: column;
    gap: 0.5rem;
    height: 400px;
  }
  .booking-confirm{
    width: 100%;
    height: auto;
    gap: 0.5rem;
  }
  .booking-confirm li{
    justify-content: center;
  }
  .booking-confirm li h4{
    font-size: 18px;
  }
  .guest-info{
    flex-direction: column;
    gap: 1rem;
  }

  .info-detail{
    flex-direction: column;
    height: auto;
    margin: 0;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    gap: 0;
  }
  .guest-pin{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.5rem ;
    margin-top: 1rem;
  }
  .info-detail h4,.info-detail h5,.info-detail p{
    font-size: 20px;
    width: auto;
    text-align: left;
  }
  .guest-info .info-detail input,.check-info > div input{
    width: 98%;
    padding: 0;
    font-size: 18px;
    padding-left: 0.5rem;
    line-height: 1.6;
    padding-top: 0.5rem;
  }
  .info-detail textarea{
    width: 100%;
  }
  #pin-input{
    width: 76%;
  }
  
  .price-inner {
    padding: 0;
    margin-top: 2.5rem;
    width: auto;
  }
  .price-inner li{
    margin: 0 auto;
  }
  .guest-mail::after{
    left: unset;
    bottom: -27%;
    right: 5%;
    width: 70%;
    text-align: right;
  }
  .booking-detail{
    width: 90%;
  }
  .policy-section{
    margin: 0 auto;
    width: 95%;
  }
  
  .check-info > div{
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .result-info{
    width: 95%;
    height: auto;
    gap: 0.5em;
  }
  .googlemap-area,.tour-googlemap-area{
    height: 350px;
  }
  .tour-googlemap-area iframe{
    height: 100%;
  }
  .tour-card{
    width: 45%;
    height: auto;
    position: relative;
  }
  .tour-card h2{
    font-size: 20px;
  }
  .tour-card::after{
    content: '點擊了解';
    position: absolute;
    font-size: 14px;
    bottom: 0;
    right: 4px;
    background-color: var(--color-sub-light);
    opacity: 0.6;
  }
  .manners-tag{
    margin: 0.5rem;
  }
  .rules-manner h4{
    font-size: 18px;
  }
  .rules-privacy h2{
    font-size: 20px;
  }
  .rules-privacy h5{
    font-size: 18px;
  }
  .tab-3 .rules-price h5{
    font-size: 18px;
  }
  .tab-3 .rules-price{
    width: 95%;
  }
  
}