@import url('reset.css');

/* ==============================規格============================== */
:root{
  --color-org: #78402E;
  --color-org-light: #D19566;
  --color-sub-org: #DFB892;
  --color-sub-light: #ECD6BC;
  --color-sub-dark: #361B14;
}

body{
  background-color: var(--color-sub-light);
  font-family: '思源宋體', Arial, sans-serif;
}
.font-xxl{
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
}
.font-xl{
  font-size: 32px;
  line-height: 1.2;
  font-weight: bold;
}
.font-l{
  font-size: 28px;
  line-height: 1.2;
}

.font-m{
  font-size: 24px;
  line-height: 1.6;
}

.font-s{
  font-size: 20px;
  line-height: 1.6;
}

.font-xs{
  font-size: 16px;
  line-height: 1.6;
}
.font-org-light{
  color: var(--color-org-light);
}
.font-org{
  color: var(--color-org);
}
.font-dark{
  color: var(--color-sub-dark);
}
.font-sub-org{
  color: var(--color-sub-org);
}
.font-sub-light{
  color: var(--color-sub-light);
}
.btn-link{
  display: block;
  width: 10rem;
  line-height: 3rem;
  text-align: center;
  background-color: var(--color-sub-dark);
  color: var(--color-sub-light);
  border-radius: 1rem ;
}

i{
  display: block;
  font-size: 50px;
  line-height: 1.2;
}
a{
  text-decoration: none;
}


/* ==============================天============================== */
.logo {
  position: fixed;
  left: 20px;
  top: 10px;
  z-index: 100;
  width: 200px;
}

.toolbar{
  display: flex;
  height: 37.5rem;
  width: 100%;
  top: 0;
  z-index: 50;
  background-size: cover;
  position: relative;
}

.toolbar .pagesbtn {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 3rem;
  width: 100%;
  justify-content: end;
  position: fixed;
  top: 0;
  right: -60px;
  z-index: 100;
  padding-right: 1.5rem;
  box-sizing: border-box;
}
.sky-link{
  display: block;
  width: 5rem;
  padding: 10px;
  color: var(--color-org);
  font-weight: bold;
  position: relative;
}
.sky-link.font-org-light{
  color: var(--color-org-light);
}

.toolbar i{
  position: fixed;
  display: none;
  top: 20px;
  right: 20px;
}
.title{
  display: block;
  margin: 60px auto;
}
.title > .btn-link{
  margin: 0 auto;
}
.main-title{
  margin-bottom: 0.5rem;
}

/* ==============================地============================== */
.landbar{
  /* position: sticky; */
  bottom: 0;
  width: 100%;
}

.linkicon{
  display: flex;
  gap: 16px;
  margin-top: 60px;
  margin-bottom: 18px;
  justify-content: center;
}
.linkicon a{
  height: 50px;
  color: var(--color-sub-dark);
}

.footinfo{
  display: flex;
  gap: 32px;
  justify-content: center;
  background-color: var(--color-sub-dark);
  color: var(--color-org-light);
}
.land-link{
  color: var(--color-org-light);
}
.logo-sub{
  width: 50px;
}
/* ==========================天地hover動畫========================== */
.footinfo a{
  position: relative;
}
.footinfo a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: var(--color-org-light);
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.sky-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 100%;
  height: 2px;
  background-color: var(--color-org);
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.sky-link.font-org-light::after{
  background-color: var(--color-org-light);
}
.footinfo a:hover::after,.sky-link:hover::after{
  transform: scaleX(1);
}
.linkicon .fa-line{
  transform: scale(.9);
}
.linkicon li:hover{
  transition: all .5s;
  transform: scale(1.2);
  translate: -4px -4px;
}
.linkicon li:hover img{
  content: url(../img/icon-logo-trans.png);
}
.linkicon li:hover a{
  color: var(--color-org-light);
  text-shadow: 5px 5px 2px var(--color-sub-dark);
}
/* ==========================頁簽========================== */

.tag-list{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.tag-1,.tag-2,.tag-3{
  width: 150px;
  margin: 60px 0px 20px;
  text-align: center;
  color: var(--color-org-light);
}

/* ==============================按鈕們============================== */

.pagechange-btn .btn-back > a{
  border: 1px solid var(--color-sub-dark);
  background-color: var(--color-sub-light);
  color: var(--color-sub-dark);
}
.pagechange-btn{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 5%;
}

.pagechange-btn > li > a, .guest-info > .btn-confirm, .btn-result{
  display: block;
  width: 152px;
  padding: 8px 20px;
  background-color: var(--color-org);
  border-radius: 16px;
  color: var(--color-sub-light);
  text-align: center;
  box-sizing: border-box;
}
.room-btn{
  list-style: none;
  display: block;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  padding: 45% 0;
  text-align: center;
  border-radius: 16px;
  opacity: 0;
}

.room-btn:hover{
  transition: all .5s;
  background-color: rgba(223, 184, 146,.6);
  outline: 1px solid var(--color-sub-dark);
  outline-offset: -10px;
  opacity: 1;
}

.btn-book{
  align-self: center;
}

/* ==============================首頁============================== */
.headpic-index{
  background-image: url("../img/headpic-index.jpg");
  background-position: center;
  opacity: .9;
}
.index-titlebanner{
  align-self: flex-end;
  text-align: center;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.index-intro{
  display: grid;
  grid: repeat(6,1fr) / repeat(6,1fr);
  width: 1200px;
  height: 1200px;
  padding: 50px;
  box-sizing: border-box;
  gap: 50px;
}
.intro-word{
  display: block;
  text-align: center;
  height: 1fr;
  place-content: center;
}
.intro-pic{
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.p1 { grid-row: 1 / 4; grid-column: 1 / 3; }
.p2 { grid-row: 1 / 4; grid-column: 5 / 7; }
.p3 { grid-row: 2 / 5; grid-column: 3 / 5; }
.p4 { grid-row: 5 / 7; grid-column: 1 / 3; }
.p5 { grid-row: 5 / 7; grid-column: 4 / 7; }
.w1 { grid-row: 1 / 2; grid-column: 3 / 5; }
.w2 { grid-row: 4 / 5; grid-column: 1 / 3; }
.w3 { grid-row: 4 / 5; grid-column: 5 / 7; }
.w4 { grid-row: 5 / 7; grid-column: 3 / 4; }


/* vvvvvvvvv- p1hover - vvvvvvvvv*/
.index-intro:has(.p1:hover) .p1{
  grid-row: 1 / 5; grid-column: 1 / 5;
  z-index: 10;
}
.index-intro:has(.p1:hover) .p2{
  grid-row: 1 / 3; grid-column: 5 / 7;
  z-index: 10;
}
.index-intro:has(.p1:hover) .p3{
  grid-row: 5 / 3; grid-column: 5 / 7;
  z-index: 10;
}
/* vvvvvvvvv- p2hover - vvvvvvvvv*/
.index-intro:has(.p2:hover) .p2{
  grid-row: 1 / 5; grid-column: 3 / 7;
  z-index: 10;
}
.index-intro:has(.p2:hover) .p1{
  grid-row: 1 / 3; grid-column: 1 / 3;
  z-index: 10;
}
.index-intro:has(.p2:hover) .p3{
  grid-row: 5 / 3; grid-column: 1 / 3;
  z-index: 10;
}

/* vvvvvvvvv- p3hover - vvvvvvvvv*/
.index-intro:has(.p3:hover) .p3{
  grid-row: 1 / 5; grid-column: 3 / 7;
  z-index: 10;
}
.index-intro:has(.p3:hover) .p1{
  grid-row: 1 / 3; grid-column: 1 / 3;
  z-index: 10;
}
.index-intro:has(.p3:hover) .p2{
  grid-row: 5 / 3; grid-column: 1 / 3;
  z-index: 10;
}
/* vvvvvvvvv- p4、5hover - vvvvvvvvv*/
.index-intro:has(.p4:hover) .p4{
  grid-row: 4 / 7; grid-column: 1 / 5;
  z-index: 10;
}
.index-intro:has(.p4:hover) .p5{
  grid-row: 5 / 7; grid-column: 5 / 7;
  z-index: 10;
}
.index-intro:has(.p5:hover) .p5{
  grid-row: 4 / 7; grid-column: 3 / 7;
  z-index: 10;
}

.index-intro:has(.p4:hover) .p3,.index-intro:has(.p5:hover) .p3{
  grid-row: 1 / 4; grid-column: 3 / 5;
  z-index: 10;
}

.mid-banner{
  height: 400px;
  background-image: url("../img/headpic-tour.jpg");
  background-size: 100% 400px;
  justify-content: end;
  padding: 24px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}


.index-share{
  margin: 60px auto;
  width: 1200px;
  display: flex;
  gap: 10px;
}

/* ==============================聲明頁============================== */

.headpic-rules{
  background-image: url("../img/headpic-rules.jpg");
  background-position: center 35%;
  align-items: center
}
.page-rules{
  width: 1200px;
}
.page-rules .tab-1{
  /* width: 1200px; */
  list-style: disc;
  margin: 0 auto;
}
.page-rules .tab-2{
  display: none;
}

.page-rules .tab-2 li{
  margin-bottom: 60px;
}
.page-rules .tab-2 li h2{
  margin-bottom: 8px;
}
.page-rules .tab-2 p{
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  color: var(--color-org-light);
}
.page-rules .tab-3{
  padding: 0px 120px 60px 120px;
  width: 100%;
  box-sizing: border-box;
  display: none;
}

.tag-2:hover ~ .page-rules .tab-2,.tag-3:hover ~ .page-rules .tab-3{
  display: block;
}

/* ==========================新聞頁========================== */
.headpic-news{
  background-image: url("../img/headpic-news.jpg");
  background-position: center 55%;
}
.title-news{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-self: flex-end;
  padding-bottom: 60px;
  margin-left: 8.3333333%;
  align-items: start;
  margin-bottom: 0;
}
.toolbar .banner-news-title{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: flex-end;
  width: 80%;
}
.toolbar .banner-news-title h1{
  color: var(--color-sub-dark);
}
.news-main{
  display: flex;
  flex-direction: row;
  width: 1200px;
  flex-wrap: wrap;
  margin: 60px auto;
  gap: 60px;

}
.news-title{
  width: 100%;
  display: block;
  border-bottom: 3px solid var(--color-sub-dark);
  box-sizing: border-box;
  padding-left: 3.3%;
  line-height: 1.3;
  padding-bottom: .6%;
}
.news-flex{
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 60px;
  text-align: center;
}
.news-flex > li > a > h2, .news-flex > li > a > img{
  margin-bottom: 20px;
}

.news-flex > li > a{
  color: var(--color-org);
}
.news-flex > li > a > img{
  transition:1s;
  transform: translate(0, 0);
  box-shadow: 0px 0px 0px var(--color-sub-dark); 
}
.news-flex > li > a:hover > img{
  transition:1s;
  transform: translate(-4px,-4px);
  box-shadow: 10px 10px 5px var(--color-sub-dark); 
}


/* ==========================新聞頁細節========================== */
.news-detail{
  display: flex;
  width: 1200px;
  margin: 60px auto;
  gap: 40px;
  align-items: center;
}
.news-detail img{
  border-radius: 16px;
  width: 100%;
}
.detail-inner{
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0 48px;
}
.detail-inner > p{
  text-align: right;
}
.detail-inner > h1{
  font-weight: bold;
}



/* ==========================房型介紹========================== */
.headpic-room{
  background-image: url("../img/headpic-room.jpg");
  background-size: 100% auto;
  background-position: center 640px;
  padding-left: 10%;
  box-sizing: border-box;
}

.toolbar .room-info-title{
  align-self: flex-end;
  color: var(--color-org-light);
  margin: 2rem;
  text-align-last: left;
}


.room-pic{
  width: 1200px;
  margin: 60px auto;
}
.roomlist{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 1.25rem;
}

.roomlist > li{
  border-radius: 16px;
  background-size: cover;
  background-position: center;
}
.room-pic1{
  background-image: url("../img/room-4.jpg");
}
.room-pic2{
  background-image: url("../img/room-6.jpg");
}
.room-pic3{
  background-image: url("../img/room-2.jpg");
}
.room-double{
  display: flex;
  justify-content: center;
  gap: 1rem;
  display: none;
}
.room-double.on{
  display: flex;
}
.roompic-double{
  width: 50%;
}
.roompic-double > img{
  border-radius: 2.5rem;
  width: 100%;
  height: 600px;
}
.roompic-list{
  display: flex;
  gap: calc(120px/3);
  margin-top: 20px;
}
.roompic-list > li{
  width: 20%;
  height: 120px;
  overflow: hidden;
  border-radius: 1rem;
}
.roompic-list > li > img{
  display: block;
  width: 100%;
  height: 100%;
  opacity: .5;
}


.room-double.room-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 25rem;
}
.serve-list{
  display: flex;
  gap: 60px;
  text-align: left;
  align-items: start;
  justify-content: center;
  color: var(--color-sub-dark);
}

.room-title{
  text-align: center;
  color: var(--color-sub-dark);
}
.room-intro{
  color: var(--color-org-light);
}
.price-new{
  align-self: center;
  color: red;
}
.price-org{
  align-self: center;
  opacity: 0.8;
  text-decoration: line-through;
}

.roompic-double:has(.roompic-list1:hover) .roompic-top{
  content: url(../img/room-db-1.jpg);
}
.roompic-double:has(.roompic-list2:hover) .roompic-top{
  content: url(../img/room-db-2.jpg);
}
.roompic-double:has(.roompic-list3:hover) .roompic-top{
  content: url(../img/room-db-3.jpg);
}

/* ==========================訂房========================== */
.headpic-book{
  justify-content: center;
  background-image: url('../img/room-6.jpg');
  width: 100%;
  background-position: center 55%;
}
.room-book-title{
  width: 1200px;
  display: block;
  margin: 2rem auto;
  box-sizing: border-box;
  padding-left: 2rem;
}
.room-booking{
  display: flex;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}
.booking-detail{
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 360px;
  gap: 10%;
  justify-content: center;
}
.roompic-booking{
  width: 360px;
  height: 360px;
  border-radius: 2rem;
}
.booking-detail > li{
  display: flex;
  text-align: right;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.2rem;
  box-sizing: border-box;
  position: relative;
}

.label ~ i ,.date-label ~ i{
  color: var(--color-sub-dark);
  display: block;
  padding: 0.2rem;
  box-sizing: border-box;
}
.label,.date-label, .info-detail > div{
  width: 72%;
  text-align: right;
  box-sizing: border-box;
  padding-right: 10%;
  border-top: 0;
  border-left: 0;
  border-bottom: 3px solid var(--color-sub-dark);
  border-right: 1px solid var(--color-sub-dark);
}
.date-label{
  width: 36%;
}
.label{
  background-color: var(--color-sub-light);
  appearance: none;
  text-align: center;
}
.label > option{
  padding-right: 8%;
}
.arrow{
    position: absolute;
    display: block;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 3;
}
/* ==========================訂房確認========================== */
.booking-confirm{
  width: 28%;
  display: flex;
  flex-direction: column;
  height: 360px;
  gap: 10%;
  justify-content: center;
}
.booking-confirm > li{
  display: flex;
  text-align: right;
  gap: 1rem;
  justify-content: space-around;
  padding: 0.2rem;
  box-sizing: border-box;
}
.cut-line{
  border: 4px solid var(--color-sub-dark);
  margin: 60px 0;
}
.guest-info{
  display: flex;
  flex-wrap: wrap;
  gap: 5% ;
  justify-content: right;
  margin-bottom: 60px;
  position: relative;
}
.info-detail{
  width: 45%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-bottom: 2rem;
}
.info-detail > h1{
  width: 16.6667%;
  text-align: right;
}
.guest-info > .btn-confirm{
  position: absolute;
  right: -166px;
  top: 48px;
}
p.warning{
  display: block;
  position: absolute;
  top: 104px;
}
input{
  width: 72%;
  background-color: var(--color-sub-light);
  padding-right: 10%;
  border-top: 0;
  border-left: 0;
  border-bottom: 3px solid var(--color-sub-dark);
  border-right: 1px solid var(--color-sub-dark);
}
/* ==========================預定完成========================== */
.headpic-result{
  height: 300px;
  justify-content: center;
}


.book-result{
  border-top:2px solid var(--color-sub-dark);
}
.result-list{
  display: flex;
  margin: 60px auto;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}
.result-info{
  width: 35%;
  display: flex;
  flex-direction: column;
  height: 360px;
  gap: 5%;
  justify-content: center;
}
.result-info > li{
  display: flex;
  text-align: right;
  gap: 1rem;
  justify-content: space-between;
  padding: 0.2rem;
  box-sizing: border-box;
}
/* ==========================訂單查詢========================== */
.check-info{
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check-info > div{
  display: flex;
  width: 32%;
  margin-top: 3rem;
}
.check-info  h1{
  margin-right: 20px;
}
.check-info input{
  padding-right: 0;
}
.btn-result{
  margin: 0 auto;
}
.result-num{
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  border-bottom: 1px solid var(--color-sub-dark);
}
/* ==========================雷斯故事========================== */
.headpic-story{
  background-image: url("../img/headpic-story.jpg");
  background-size: 100% auto;
  background-position: center 62%;
}
.title-story{
  text-align: center;
  display: block;
  align-self:flex-end;
  margin-bottom: 20px;
}
.story-tab{
  margin-top: 2rem;
}
.story-list{
  width: 1200px;
}
.name-intro{
  width: 1200px;
  text-align: center;
  margin-bottom: 60px;
}
.build-intro{
  display: none;
}
.build-intro-inner{
  display: flex;
  gap: 60px;
  padding: 0 120px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 60px;
}
.build-intro-inner > img{
  border-radius: 1rem;
  width: 25%;
}
.build-intro-word-left, .build-intro-word{
  width: 52.1%;
}
.build-intro-word-left > h1{
  text-align: right;
}
.west-intro{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin-bottom: 60px;
}
.west-intro > img{
  width: 45%;
  border-radius: 1rem;
}
.west-intro-word{
  width: 45%;
}
.located-detail{
  display: flex;
  justify-content: center;
  gap: 5%;
  margin-bottom: 60px;
}
.googlemap-area{
  width: 50%;
}
.address-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.address-detail > img{
  width: 75%;
}
.table-detail{
  height: 2rem;
  margin-right: 1rem;
}
h1.table-detail{
  text-align: right;
}
.story-page .tag-2:hover ~ .story-tab .tab-2{
  display: block;
}
.story-page .tag-3:hover ~ .story-tab .tab-3{
  display: flex;
}

/* ==========================周邊景點========================== */
.headpic-tour{
  background-image: url("../img/headpic-tour.jpg");
  background-size: cover;
  background-position: center bottom;
}
.tourism-title{
  align-self: flex-end;
  text-align: center;
  margin-bottom: 3rem;
}
.tour-title ~ h2{
  margin-top: 5%;
}


.foodpic-1{background-image: url("../img/foodpic-1.png");}
.foodpic-2{background-image: url("../img/foodpic-2.png");}
.foodpic-3{background-image: url("../img/foodpic-3.png");}
.foodpic-4{background-image: url("../img/foodpic-4.png");}
.foodpic-5{background-image: url("../img/foodpic-5.png");}
.foodpic-6{background-image: url("../img/foodpic-6.png");}
.warpic-1{background-image: url("../img/warview-1.png");}
.warpic-2{background-image: url("../img/warview-2.png");}
.warpic-3{background-image: url("../img/warview-3.png");}
.warpic-4{background-image: url("../img/warview-4.png");}
.warpic-5{background-image: url("../img/warview-5.png");}
.warpic-6{background-image: url("../img/warview-6.png");}
.goodpic-1{background-image: url("../img/goodview-1.png");}
.goodpic-2{background-image: url("../img/goodview-2.png");}
.goodpic-3{background-image: url("../img/goodview-3.png");}
.goodpic-4{background-image: url("../img/goodview-4.png");}
.goodpic-5{background-image: url("../img/goodview-5.png");}
.goodpic-6{background-image: url("../img/goodview-6.png");}

.good-food, .war-view, .good-view{
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  justify-content: center;
}
.tour-card{
  width: 18.75rem;
  height: 18.75rem;
  text-align: center;
  margin-bottom: 5%;
  border-radius: 1rem;
}

.tour-card  h1{
  display: block;
  height: 100%;
  padding: 45% 0;
  box-sizing: border-box;
  opacity: 0;
}
.tour-card  h1:hover{
  transition:1s ;
  opacity: 1;
  background-color: rgba(223, 184, 146,.6);
  border-radius: 1rem;
  outline: thick double var(--color-sub-dark);
  outline-offset: -1rem;
}
.tag-list .war-view, .tag-list .good-view{
  display: none;
}
.tour-list .tag-2:hover ~ .tour-page .tab-2,.tour-list  .tag-3:hover ~ .tour-page .tab-3{
  display: flex;
}
/* ==========================周邊景點-細節========================== */
.tour-intro{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.3333%;
  margin: 60px auto;
}
.tour-intro > img{
  border-radius: 1rem;
}
.tour-words{
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 45%;
}
.tour-words > li{
   padding: 0 10%;
}
.tour-googlemap-srea{
  width: 100%;
}

/* ==========================頁籤:hover========================== */

.tag-1,.tag-2:hover,.tag-3:hover{
  color: var(--color-sub-dark);
  border-bottom: 3px solid var(--color-sub-dark);
}
.tag-list:has(.tag-2:hover) .tag-1,.tag-list:has(.tag-3:hover) .tag-1{
  border: 0;
  color: var(--color-org-light);
}
.tag-list > .tag-1:hover ~ .tab-list >.tab-2,.tag-list > .tag-1:hover ~ .tab-list >.tab-3,
.tag-list > .tag-2:hover ~ .tab-list >.tab-1,.tag-list > .tag-2:hover ~ .tab-list >.tab-3,
.tag-list > .tag-3:hover ~ .tab-list >.tab-1,.tag-list > .tag-3:hover ~ .tab-list >.tab-2{  
  display: none;
}